.main {
  font-family: 'Ubuntu', sans-serif;
  background-color: #313d3f;
  padding: 3%;
}

.animation-container {
  height: 90vw;
  width: 75vw;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5% 2%;
  margin: auto;
  background-color: #e0e4e5;
}

#animation-field {
  font-size: 1.5em;
  font-family: 'VT323', monospace;
  margin: auto;
  height: 50vw;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(5, 19%);
}

.inner-cell {
  border: 1px solid black;
  justify-content: center;
  vertical-align: center;
  padding: 34%;
}

.inner-cell p {
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 3%;
}

button {
  padding: 3px 12px;
  border-radius: 3px;
  min-height: 35px;
  min-width: 75px;
}

.start-btn {
  background-color: #a171ba;
}

.reset-btn {
  background-color: #738fe2;
}

.output-field {
  font-family: 'VT323', monospace;
  text-align: center;
  padding: 3px;
  min-height: 50px;
  min-width: 500px;
  margin-top: 5%;
  background-color: black;
  color: #3fff52;
}

.lit-up {
  background-color: black;
  color: #3fff52;
  border-color: #e0e4e5;
}

@media only screen and (max-width: 660px) {
  .output-field {
    min-height: 1.5em;
    min-width: 50vw;
    margin-top: 25%;
    font-size: x-small;
  }
}


